.FavoritesContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: screen;
    height: full;
    overflow: hidden;
}

.SelectContainer{
    display: flex;
    justify-content: center;
    margin: 70px 700px ;
}

select{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(40, 213, 243);
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
}

select:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(7, 135, 240);
    cursor: pointer;
}