.SearchBarContainer{
    display: flex;
    justify-content: center;
    height: 50px;
}

input{
    background-color: rgba(3, 231, 163, 0.938);
    font-family: cursive;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(255, 255, 255);
    width: 60%;
    font-size: 20px;
}

input:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 100px 100px 100px 100px;
    border-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    background-color: rgb(8, 240, 248);
    width: 200px;
    height: 50px;
}

button:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(7, 135, 240);
    cursor: pointer;
}